body {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    font-family: serif;
}

header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 50px;
    background-color: #eeee;
    font-size: 1.2em;
}

header a.nav_button {
   color: black;
   font-weight: bold;
   text-decoration: none;
   padding: 15px 10px;
}

header a.nav_button.active,a.nav_button:hover {
  background-color: #CCCC;
}

a.icon:hover {
  color: black;
}

a{
color: #808080;
text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 0px;
}

a.icon {
   color: eeee;
   margin-left: 5%;
}

div.about {
  text-align: justify;
  text-justify: inter-word;
}

footer {
    text-align: center;
    margin-top: 70px;
    background-color: #EEEE;
}

/* Add everything below here */
